/* 全局滚动条样式 - 适配所有浏览器 */
* {
  scrollbar-width: thin;
  scrollbar-color: #c0c4cc #f5f7fa;
}

/* webkit 内核浏览器（Chrome / Edge / 360 /  Electron）*/
::-webkit-scrollbar {
  width: 3px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f5f7fa;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #c0c4cc;
  border-radius: 3px;
  transition: all 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #909399;
}

/* 火狐浏览器兼容 */
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: #c0c4cc #f5f7fa;
  }
}